body{
    background-color: #f5f5dd;

}

div{
    margin-bottom: 8px;
    height: 150px;
    width: 150px;
    margin-left: 125px;
}


#first{
    background-color: black;
    margin-top: 80px;
}
#second{
    margin-bottom: 8px;background-color:rgba(0, 0, 0, 75%);
}
#third{
    background-color:rgba(0, 0, 0, 50%);
}
#fourth{
    background-color: rgba(0, 0, 0, 25%);
}